<ion-header>
  <ion-toolbar>
    <ion-title>produtoDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button routerDirection="forward" href="/cart">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <img [src]="item?.imageUrl || 'assets/prod.jpg'" />
    <ion-card-content>
      <ion-card-title>{{item?.nome}}</ion-card-title>
      <ion-card-subtitle>{{item?.preco | currency}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" fill="outline" (click)="addToCart(item)">Adicionar ao Carrinho</ion-button>
</ion-content>