<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-item>
      <ion-label position="stacked">Nome *</ion-label>
      <ion-input formControlformControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-list>
      <ion-radio-group value="1" formControlName="tipo">
        <ion-list-header>
          <ion-label>
            Tipop de Cliente
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Pessoa física</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Pessoa jurídica</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item>
      <ion-label position="stacked">CPF ou CNPJ *</ion-label>
      <ion-input formControlName="cpfOuCnpj"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha *</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Logradouro *</ion-label>
      <ion-input formControlName="logradouro"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número *</ion-label>
      <ion-input formControlName="numero"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Complemento *</ion-label>
      <ion-input formControlName="complemento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Bairro *</ion-label>
      <ion-input formControlName="bairro"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CEP *</ion-label>
      <ion-input formControlName="cep"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone 1 *</ion-label>
      <ion-input formControlName="telefone1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone 2 *</ion-label>
      <ion-input formControlName="telefone2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone 3 *</ion-label>
      <ion-input formControlName="telefone3"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Estado *</ion-label>
      <ion-select formControlName="estadoId" (ionChange)="updateCidade()" interface="popover">
        <ion-select-option *ngFor="let estado of estados" [value]="estado.id">{{estado.nome}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Cidade *</ion-label>
      <ion-select formControlName="cidadeId" interface="popover">
        <ion-select-option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.nome}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit">Criar Conta</ion-button>

  </form>

</ion-content>