<ion-content class="ion-padding-horizontal">

  <h3>Sistema de pedidos</h3>
  <img src="assets/icon/favicon.png" alt="logo" />

  <form action="">
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="login()">Entrar</ion-button>
  </form>
  <ion-button expand="full" fill="outline">Registrar</ion-button>

</ion-content>